{
    "plugins": ["prettier-plugin-tailwindcss", "@shufo/prettier-plugin-blade"],
    "jsxSingleQuote": true,
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ]
}
